@import url(/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Hanken Grotesk', sans-serif !important;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
.header {
    height: 201px;
    .header__information {
        background-color: #f5f5f5;
        .header__information__container {
            max-width: 1200px;
            height: 42px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header__information__container > h6 {
            color: #666666;
            font-size: 14px;
            line-height: 14px;
        }
        .information__containers {
            display: flex;
            gap: 16px;
            align-items: center;
        }
        .information__containers > hr {
            height: 18px;
            border: 1px solid #d9d9d9;
        }
        .header__information__text {
            display: flex;
            align-items: center;
            gap: 6px;
        }
        .header__information__text span {
            color: #666666;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
        }
    }
    .header__main {
        height: 92px;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
    }
    .header__main > div {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .header__form {
        position: relative;
        max-width: 507px;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        background: #f3f9fb;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__form > input {
        background-color: #f3f9fb;
        border: none;
        width: 100%;
        margin: 0 10px;
    }
    .header__form > input:focus {
        outline: none;
    }
    .header__form > input:placeholder-shown {
        font-size: 14px;
        line-height: 18px;
        color: #666666;
    }
    .header__auth > div {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .header__auth button {
        padding: 3px 0;
        border: none;
        background-color: #fff;
        color: #666666;
        font-weight: 700;
        line-height: 18px;
    }
    .header__navbar {
        height: 69px;
        border: 1px solid #ededed;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__select-box {
        display: flex;
        align-items: center;
        padding: 9px 14px;
        gap: 6px;
        background-color: #f3f9fb;
        transition: 0.4s all;
        border-radius: 18px;
    }

    .navbar__select-box span {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #222222;
    }
}
.container__main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
    .main__section--categories {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .main__section__article {
        display: flex;
        justify-content: space-between;
        height: 46px;
        border-bottom: 1px solid #ededed;
    }
    .main__section__article > h3 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #666666;
        border-bottom: 3px solid #008ecc;
    }
    .main__section__article > h3 > span {
        color: #008ecc;
    }
    .main__section__article > div {
        display: flex;
        gap: 6px;
        align-items: center;
        font-weight: 500;
        color: #222222;
    }
    .categories__card__container {
        height: 172px;
        display: flex;
        justify-content: space-between;
    }
    .categories__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .categories__card > div {
        width: 132px;
        height: 132px;
        border-radius: 50%;
        background-color: #f5f5f5;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .categories__card > span {
        color: #222222;
        line-height: 20px;
        font-weight: 500;
    }
}

/* slider section */

.main__section--slider {
    height: 316px;
    background: #212844;
    padding: 40px 100px;
    margin-top: 20px;
    border-radius: 16px;
    display: flex;
    gap: 144px;
    .slider__article {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .slider__article > h6 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
        color: #fff;
    }
    .slider__article > h3 {
        font-size: 63px;
        line-height: 63px;
        font-weight: 700;
        color: #fff;
    }
    .slider__image {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .slider__image > img {
        object-fit: cover;
    }
}
/* smartphone section */

.main__section--smartphones {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .smartphones__card__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .smartphones__card {
        display: flex;
        flex-direction: column;
        border: 1px solid #ededed;
        border-radius: 15px;
    }
    .smartphones__card__image {
        width: 227px;
        height: 188px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        background-color: #f5f5f5;
        position: relative;
    }
    .smartphones__card__image > div {
        padding: 11px 8px;
        background-color: #008ecc;
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    .smartphones__card__content {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #fff;
        border: 1px;
        line-height: 18px;
        color: #222222;
    }
    .smartphones__card__content hr {
        width: 100%;
        border: 1px solid #ededed;
    }
    .smartphones__card__content :first-child {
        line-height: 18px;
        font-weight: 600;
        color: #222222;
    }
    .smartphones__card__content > div :first-child {
        font-weight: 700;
    }
    .smartphones__card__content > div :nth-child(2) {
        text-decoration: line-through;
    }
    .smartphones__card__content .smartphone__sale {
        font-weight: 600;
        color: #249b3e;
    }
}
/* brands section */

.main__section--top-electronics {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .top-electronics__card__container {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    .top-electronics__card {
        width: 33%;
        height: 207px;
        padding: 20px;
        border-radius: 16px;
        background-color: #313131;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .top-electronics__card--right-hand > img {
        width: 104px;
        height: 185px;
        object-fit: contain;
    }
    .top-electronics__card--left-hand {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .iphone__container {
        padding: 9px 20px;
        background-color: #494949;
        border-radius: 8px;
        color: #fff;
        font-size: 14px;
        line-height: 16.8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-electronics__card--left-hand > h5 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        color: #fff;
    }
    .iphone__logo__container {
        padding: 7.75px 12.4px;
        border-radius: 16px;
        background-color: #fff;
    }
}

/* daily-essentials section */

.main__section--daily-essentials {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .daily-essentials__card__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .daily-essentials__card {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
        .daily-essentials__card__image {
            width: 187px;
            height: 187px;
            border-radius: 16px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
        }
        .daily-essentials__card__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }
        .daily-essentials__card__content :first-child {
            color: #666666;
            font-weight: 600;
            line-height: 20px;
        }
        .daily-essentials__card__content :last-child {
            font-size: 20px;
            line-height: 20px;
            color: #222222;
            font-weight: 700;
        }
    }
}

/* footer css */
.footer__container {
    margin-top: 120px;
    background-color: #008ecc;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .footer__information {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 80px 0;
        display: flex;
        gap: 90px;
        border-bottom: 1px solid #05abf3;
    }
    .footer__information__contact {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .footer__information__contact > span {
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
    }
    .footer__information__contact > img {
        width: 217px;
        object-fit: cover;
        padding-bottom: 14px;
    }
    .contact__whatsapp,
    .contact__phone {
        display: flex;
        align-items: center;
        gap: 11px;
    }
    .contact__whatsapp > div,
    .contact__phone > div {
        display: flex;
        flex-direction: column;
        gap: 2px;
        color: #fff;
        line-height: 20px;
        font-weight: 600;
    }
    .contact__app__images {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .footer__navbar {
        display: flex;
        gap: 80px;
    }
    .footer__navbar h6 {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        padding-bottom: 16px;
        text-wrap: nowrap;
        color: #fff;
        border-bottom: 3px solid #fff;
    }
    .footer__navbar > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer__navbar > div > ul {
        display: flex;
        position: relative;
        left: 20px;
        flex-direction: column;
        gap: 16px;
        list-style: disc;
    }
    .footer__navbar li::marker {
        color: #fff;
    }
    .footer__navbar a {
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        line-height: 24px;
    }
    .footer__copyright > p {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        color: #fff;
        padding-bottom: 30px;
    }
}
